<template>
  <button
    class="btn waves-effect waves-light border-round gradient-45deg-purple-deep-orange col s12"
    v-on="$listeners"
  >
    <slot />
  </button>
</template>

<style lang="scss"></style>
