<script>
export default {
  name: 'access-field',
  props: {
    field: String,
    dataItem: Object,
    format: String,
    className: String,
    columnIndex: Number,
    columnsCount: Number,
    rowType: String,
    level: Number,
    expanded: Boolean,
    editor: String,
    count: Number,
  },
  data() {
    return {
      templateArgs: {},
      itemText: 'template',
    }
  },
  computed: {
    /* Computed methods goes here*/
  },
  methods: {
    /* Component methods goes here*/
    change(e) {
      this.$emit('change_access_type', e, e.target.value)
    },
  },
}
</script>

<template>
  <td v-if="!dataItem.inEdit" :class="className">{{ dataItem[field] }}</td>
  <td v-else
    ><select class="k-textbox" @change="change">
      <option value=""> </option>
      <option value="client"> client</option>
      <option value="employee"> employee</option>
      <option value="admin"> admin</option>
      <option value="super-admin"> super-admin</option>
    </select></td
  >
</template>
