<script>
export default {
  name: 'ActionBtns',
  props: {
    field: String,
    dataItem: Object,
    format: String,
    className: String,
    columnIndex: Number,
    columnsCount: Number,
    rowType: String,
    level: Number,
    expanded: Boolean,
    editor: String,
    count: Number,
  },
  data() {
    return {}
  },
  computed: {},
  methods: {
    editHandler(e) {
      console.log('edit')
      this.$emit('edit', { dataItem: this.dataItem })
    },
    removeHandler(e) {
      this.$emit('remove', { dataItem: this.dataItem })
    },
    addUpdateHandler(e) {
      console.log('save')
      this.$emit('save', { dataItem: this.dataItem })
    },
    cancelDiscardHandler(e) {
      this.$emit('cancel', { dataItem: this.dataItem })
    },
  },
}
</script>

<template>
  <td v-if="!dataItem['inEdit']">
    <button
      class="btn-floating waves-effect waves-light purple lightrn-1 mr-6 action-btn"
      @click="editHandler"
    >
      <i class="material-icons white-text">edit</i>
    </button>
    <!-- <button
      class="btn-floating waves-effect waves-light red accent-2 action-btn"
      @click="removeHandler"
    >
      <i class="material-icons white-text">delete</i>
    </button> -->
  </td>
  <td v-else>
    <button
      class="btn-floating waves-effect waves-light purple lightrn-1 mr-6 action-btn"
      @click="addUpdateHandler"
    >
      <i class="material-icons white-text">check</i>
    </button>
    <button
      class="btn-floating waves-effect waves-light red accent-2 action-btn"
      @click="cancelDiscardHandler"
    >
      <i class="material-icons white-text">do_not_disturb_alt</i>
    </button>
  </td>
</template>
