<script>
export default {
  components: {},
  props: ['breadData'],
  data() {
    return {}
  },

  computed: {},
  methods: {},
}
</script>

<template>
  <div class="row">
    <div class="col s10 m6 l6">
      <h5 class="breadcrumbs-title mt-0 mb-0"
        ><span>{{ breadData.title }}</span></h5
      >
      <ol class="breadcrumbs mb-0">
        <li
          v-for="breadLink in breadData.links"
          :key="breadLink.id"
          class="breadcrumb-item "
          :class="breadLink.isActive ? `active` : ``"
          ><a :href="breadLink.url">{{ breadLink.name }}</a>
        </li>
      </ol>
    </div>
    <div class="col s2 m6 l6"> </div>
  </div>
</template>
