<script>
export default {}
</script>

<template>
  <footer
    class="page-footer footer footer-static footer-dark gradient-45deg-indigo-purple gradient-shadow navbar-border navbar-shadow"
  >
    <div class="footer-copyright">
      <div class="container"
        ><span
          >&copy; 2020
          <a href="#" target="_blank">CRAWLER | </a>
          All rights reserved.</span
        ><span class="right hide-on-small-only"
          >Design and Developed by
          <a href="https://software-home.net/">SOFTWARE-HOME</a></span
        ></div
      >
    </div>
  </footer>
</template>
