<script>
import { customerComputed, customerMethods } from '@state/helpers'

export default {
  name: 'linked-account-dropdown',
  props: {
    field: String,
    dataItem: Object,
    format: String,
    className: String,
    columnIndex: Number,
    columnsCount: Number,
    rowType: String,
    level: Number,
    expanded: Boolean,
    editor: String,
    count: Number,
  },
  data() {
    return {
      templateArgs: {},
      itemText: 'template',
    }
  },
  computed: {
    ...customerComputed,
  },
  created() {
    this.fetchCustomers()
  },
  methods: {
    ...customerMethods,
    change(e) {
      this.$emit('change_linked_account', e, e.target.value)
    },
  },
  mounted() {
    //console.log(this.templateArgs.message)
  },
}
</script>

<template>
  <td v-if="!dataItem.inEdit" :class="className">{{ dataItem[field] }}</td>
  <td v-else
    ><select class="k-textbox" @change="change">
      <option
        v-for="customer in this.customers"
        :key="customer.id"
        :value="customer.account"
        >{{ customer.account }}</option
      >
    </select></td
  >
</template>
