<script>
import { authComputed, authMethods } from '@state/helpers'
const BaseLink = 'BaseLink'
export default {
  components: {},
  data() {
    return {
      profileNavOpen: false,
      persistentNavRoutes: [
        {
          name: 'home',
          title: 'Home',
        },
      ],
      loggedInNavRoutes: [
        {
          name: 'profile',
          title: () => 'Logged in as ' + this.currentUser.name,
        },
        {
          name: 'logout',
          title: 'Log out',
        },
      ],
      loggedOutNavRoutes: [
        {
          name: 'login',
          title: 'Log in',
        },
      ],
      logOutRoute: { name: 'logout', title: 'Log out' },
    }
  },
  methods: {
    ...authMethods,
  },
  computed: {
    ...authComputed,
  },
}
</script>

<template>
  <!-- BEGIN: Header-->
  <header id="header" class="page-topbar">
    <div class="navbar navbar-fixed">
      <nav
        class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-dark gradient-45deg-indigo-purple no-shadow"
      >
        <div class="nav-wrapper">
          <h5 id="sitetitle" class="left">CRAWLER</h5>
          <ul class="navbar-list right">
            <BaseLink tag="li" :to="logOutRoute">
              <a
                class="waves-effect waves-block waves-light profile-button"
                data-target="profile-dropdown"
                ><i class="material-icons mr-3">exit_to_app</i>Logout</a
              >
            </BaseLink>
          </ul>
          <!-- profile-dropdown-->
          <ul id="profile-dropdown" class="dropdown-content">
            <li
              ><a class="grey-text text-darken-1" href="#"
                ><i class="material-icons">person_outline</i> Profile</a
              ></li
            >
            <li class="divider"></li>
            <li
              ><a class="grey-text text-darken-1" href="#"
                ><i class="material-icons">lock_outline</i> Lock</a
              ></li
            >
            <li
              ><a class="grey-text text-darken-1" href="#"
                ><i class="material-icons">keyboard_tab</i> Logout</a
              ></li
            >
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <!-- END: Header-->
</template>

<style lang="scss">
#header {
  display: block;
}
#sitetitle {
  display: inline-block;
  margin-left: 260px;
  color: #fff;
  @media (max-width: 992px) {
    margin-left: 65px;
    margin-top: 8px;
  }
}
.navbar-list.right {
  li {
    width: 110px;
    a {
      display: inline-flex;
    }
    @media (max-width: 992px) {
      width: 120px;
      i {
        align-items: center;
        display: inline-flex;
      }
    }
  }
}
</style>
