<template>
  <li
    class="bold "
    :class="[
      { open: openItems },
      { active: openItems },
      { 'disabled-item': group.isDisabled },
    ]"
    @mouseover="mouseover"
    @mouseout="mouseout"
  >
    <!-- Group Label -->
    <a
      @click="clickGroup(group.url)"
      class="collapsible-header waves-effect waves-cyan"
      href="javascript:void(0)"
    >
      <i class="material-icons">{{ icon }}</i>
      <span class="menu-title" :data-i18n="i18n">{{ group.name }}</span>
    </a>
    <!-- Group Items -->
    <div class="collapsible-body" ref="items" :style="openItems && styleItems">
      <ul class="collapsible collapsible-sub" data-collapsible="accordion">
        <li
          v-for="(groupItem, index) in group.submenu"
          :key="index"
          class="bold"
        >
          <!-- If item is group -->
          <v-nav-menu-group
            v-if="groupItem.submenu"
            :group="groupItem"
            :groupIndex="Number(`${groupIndex}.${index + 1}`)"
            :open="isGroupActive(groupItem)"
            :openHover="openHover"
          />

          <!-- Else: Item -->
          <nav-menu-item
            v-else
            icon-small
            :index="groupIndex + '.' + index"
            :to="groupItem.slug !== 'external' ? groupItem.url : null"
            :href="groupItem.slug === 'external' ? groupItem.url : null"
            :icon="itemIcon(groupIndex + '.' + index)"
            :slug="groupItem.slug"
            :target="groupItem.target"
          >
            <span class="truncate">{{ groupItem.name }}</span>
          </nav-menu-item>
        </li>
      </ul>
    </div>
    <!-- /Group Items -->
  </li>
</template>

<script>
import NavMenuItem from './nav-menu-item.vue'

export default {
  name: 'v-nav-menu-group',
  props: {
    openHover: { type: Boolean, default: false },
    open: { type: Boolean, default: false },
    group: { type: Object },
    icon: { type: String, default: '' },
    i18n: { type: String, default: '' },
    groupIndex: { type: Number },
  },
  components: {
    NavMenuItem,
  },
  data() {
    return {
      maxHeight: '0px',
      display: 'none',
      openItems: false,
    }
  },
  computed: {
    styleItems: {
      get() {
        return {
          display: this.display,
        }
      },
      set(newStyles) {
        console.log(this)
      },
    },
    itemIcon() {
      return (index) => {
        if (!((index.match(/\./g) || []).length > 1))
          return 'radio_button_unchecked'
      }
    },
    isGroupActive() {
      return (item) => {
        const path = this.$route.fullPath
        let open = false
        const routeParent = this.$route.meta
          ? this.$route.meta.parent
          : undefined

        let func = (item) => {
          if (item.submenu) {
            item.submenu.forEach((item) => {
              if ((path == item.url || routeParent == item.slug) && item.url) {
                open = true
              } else if (item.submenu) {
                func(item)
              }
            })
          }
        }

        func(item)
        return open
      }
    },
  },
  watch: {
    maxHeight() {
      this.openItems = this.maxHeight != '0px'
    },
  },
  methods: {
    clickGroup(url) {
      if (!this.openHover) {
        let thisScrollHeight = this.$refs.items.scrollHeight
        if (this.maxHeight == '0px') {
          this.$refs.items.classList.add('animate')
          setTimeout(() => {
            this.maxHeight = ''
            this.display = 'block'
          }, 300)
        } else {
          this.maxHeight = `${thisScrollHeight}px`
          this.$refs.items.classList.remove('animate')
          this.display = 'none'
          setTimeout(() => {
            this.maxHeight = `0px`
          }, 50)
        }
        this.$parent.$children.map((child) => {
          if (child.isGroupActive) {
            if (child !== this && !child.open && child.maxHeight != '0px') {
              setTimeout(() => {
                child.maxHeight = `0px`
              }, 50)
            }
          }
        })
        //window.location = url
      }
    },
    mouseover() {
      if (this.openHover) {
        let scrollHeight = this.$refs.items.scrollHeight
        this.maxHeight = `${scrollHeight}px`
      }
    },
    mouseout() {
      if (this.openHover) {
        let scrollHeight = 0
        this.maxHeight = `${scrollHeight}px`
      }
    },
  },
  mounted() {
    this.openItems = this.open
    if (this.open) {
      this.height = ''
    }
  },
}
</script>
<style lang="scss">
.height-enter-active,
.height-leave-active {
  height: 100px;
  transition: height 0.3s ease-out;
}

.height-enter,
.height-leave-to {
  height: 0;
}
</style>
