<script>
export default {
  name: 'v-nav-menu-item',
  props: {
    icon: { type: String, default: '' },
    iconSmall: { type: Boolean, default: false },
    iconPack: { type: String, default: 'material-icons' },
    href: { type: [String, null], default: '#' },
    to: { type: [String, Object, null], default: null },
    slug: { type: String, default: null },
    index: { type: [String, Number], default: null },
    target: { type: String, default: '_self' },
    isDisabled: { type: Boolean, default: false },
  },
  computed: {
    activeLink() {
      return !!(
        (this.to === this.$route.path ||
          this.$route.meta.parent === this.slug) &&
        this.to
      )
    },
  },
}
</script>

<template>
  <router-link
    tabindex="-1"
    v-if="to"
    exact
    class="waves-effect waves-cyan "
    :class="[{ active: activeLink }]"
    :to="to"
    :target="target"
  >
    <i class="material-icons">{{ icon }}</i>
    <slot />
  </router-link>
</template>
