<script>
export default {
  name: 'password-field',
  props: {
    field: String,
    dataItem: Object,
    format: String,
    className: String,
    columnIndex: Number,
    columnsCount: Number,
    rowType: String,
    level: Number,
    expanded: Boolean,
    editor: String,
    count: Number,
  },
  data() {
    return {
      templateArgs: {},
      itemText: 'template',
    }
  },
  computed: {
    /* Computed methods goes here*/
  },
  methods: {
    /* Component methods goes here*/
    change(e) {
      this.$emit('change_password', e, e.target.value)
    },
  },
}
</script>

<template>
  <td v-if="!dataItem.inEdit" :class="className">{{ dataItem[field] }}</td>
  <td v-else>
    <input
      type="password"
      class="k-textbox"
      style="width: 100%;"
      @change="change"
      :value="dataItem[field]"
    />
  </td>
</template>
