<script>
import SubMenu from '@components/submenu.vue'
import NavMenuGroup from './nav-menu-group.vue'
import NavMenuItem from './nav-menu-item.vue'
export default {
  components: { SubMenu, NavMenuItem ,NavMenuGroup},
  data() {
    return {
      openGroupHover:false,
      sidebar_state:true,
      is_sidebar_locked:true,
      menus: [
        {
          url: '/',
          name: 'Search',
          i18n: 'Search',
          class: 'waves-effect waves-cyan',
          icon: 'search',
          slug: 'search',
        },
        {
          url: '/home',
          name: 'Home',
          i18n: 'Home',
          class: 'waves-effect waves-cyan',
          icon: 'home',
          slug: 'home',
        },
        {
          url: '/chart',
          name: 'Chart',
          i18n: 'Chart',
          class: 'waves-effect waves-cyan',
          icon: 'insert_chart',
          slug: 'chart',
        },
        {
          url: '/report',
          name: 'Report',
          i18n: 'Report',
          class: 'waves-effect waves-cyan',
          icon: 'show_chart',
          slug: 'report',
        },
        {
          url: '/upload',
          name: 'Upload',
          i18n: 'Upload',
          class: 'waves-effect waves-cyan',
          icon: 'inbox',
          slug: 'upload',
        },
        {
          url: '/photos',
          name: 'Photos',
          i18n: 'Photos',
          class: 'waves-effect waves-cyan',
          icon: 'photo',
          slug: 'photos',
        },
        {
          url: '/calender',
          name: 'Calender',
          i18n: 'Calender',
          class: 'waves-effect waves-cyan',
          icon: 'insert_invitation',
          slug: 'calender',
        },
        {
          url: '/upload',
          name: 'Upload',
          i18n: 'Upload',
          class: 'waves-effect waves-cyan',
          icon: 'supervisor_account',
          slug: 'customer-dashboard',
        },
        {
          url: '/settings',
          name: 'Settings',
          i18n: 'Settings',
          class: 'waves-effect waves-cyan',
          icon: 'settings',
          slug: 'settings',
        },
      ],
    }
  },
  computed: {
    isGroupActive() {
      return (item) => {
        const path        = this.$route.fullPath
        const routeParent = this.$route.meta ? this.$route.meta.parent : undefined
        let open          = false

        let func = (item) => {
          if (item.submenu) {
            item.submenu.forEach((item) => {
              if (item.url && (path === item.url || routeParent === item.slug)) { open = true }
              else if (item.submenu) { func(item) }
            })
          }
        }
        func(item)
        return open
      }
    },
    handleSidebarStateClass(){
      let elClass = this.sidebar_state ? 'nav-expanded' : 'nav-collapsed';

      if(this.is_sidebar_locked)
        elClass += ' nav-lock'

      return elClass;
    }
  },
  methods: {
    // can be omited
    clickGroup(menu) {
      if (!this.openHover) {
        this.$children.map((child) => {
          if (child.isGroupActive) {
            if (child !== this && !child.open && child.maxHeight !== '0px') {
              setTimeout(() => {
                child.maxHeight = `${0}px`
              }, 50)
            }
          }
        })
      }
    },
    handleSidebarState(){
      const mainElem = document.getElementById('main');
      if(this.sidebar_state && this.is_sidebar_locked){
        this.sidebar_state = false
        this.is_sidebar_locked = false
        
        mainElem.classList.add("main-full");
      }
      if(this.sidebar_state && !this.is_sidebar_locked){
        this.is_sidebar_locked = true
        mainElem.classList.remove("main-full");
      }
    },
    handleHoverSidebar(){
      if(!this.sidebar_state){
        this.sidebar_state = !this.sidebar_state
      }
    },
    handleMouseLeaveSidebar(){
      if(this.sidebar_state && !this.is_sidebar_locked){
        this.sidebar_state = false
      }
    }

  },
  
}
</script>

<template>
  <!-- BEGIN: SideNav-->
  <aside
    class="sidenav-main nav-collapsible sidenav-light sidenav-active-square "
    :class="handleSidebarStateClass"
    
  >
    <div class="brand-sidebar" @mouseover="handleHoverSidebar" @mouseleave="handleMouseLeaveSidebar">
      <h1 class="logo-wrapper"
        ><a class="brand-logo darken-1" href="/">
          <img
            class="hide-on-med-and-down"
            src="@assets/images/logo/crawler-logo-1.png"
            alt="USIP"
          />
          <img
            class="show-on-medium-and-down hide-on-med-and-up"
            src="@assets/images/logo/crawler-logo-1.png"
            alt="USIP"
          />
        </a>
        <a class="navbar-toggler" href="javascript:void(0)" @click="handleSidebarState">
          <i class="material-icons">radio_button_checked</i>
        </a>
      </h1>
    </div>
    <ul
      id="slide-out"
      class="sidenav sidenav-collapsible leftside-navigation collapsible sidenav-fixed menu-shadow"
      data-menu="menu-navigation"
      data-collapsible="menu-accordion"
    >
      <template v-for="(item, index) in menus">
        <li
          v-if="!item.submenu"
          class="bold"
        >
        <nav-menu-item
          :key="`item-${index}`"
          :index="index"
          :icon="item.icon"
          :to="item.slug !== 'external' ? item.url : null"
          :href="item.slug === 'external' ? item.url : null"
          :isDisabled="item.isDisabled"
          :target="item.target"
          :slug="item.slug"
          >
          <span class="menu-title" :data-i18n="item.i18n">{{ item.name}}</span>
        </nav-menu-item>
        </li>
        <template v-else>
          <nav-menu-group
            :key="`group-${index}`"
            :openHover="openGroupHover"
            :group="item"
            :groupIndex="index"
            :icon="item.icon"
            :i18n="item.i18n"
            :open="isGroupActive(item)"
          />
          </nav-menu-group>
        </template>
      </template>
    </ul>
    <div class="navigation-background"></div>
    <a
      class="sidenav-trigger btn-sidenav-toggle btn-floating btn-medium waves-effect waves-light hide-on-large-only"
      href="#"
      data-target="slide-out"
      ><i class="material-icons">menu</i></a
    >
  </aside>
  <!-- END: SideNav-->
</template>
<style lang="scss">
.nav-collapsed .brand-sidebar .brand-logo {
    padding: 6px !important;
}
.nav-collapsed .brand-sidebar {
    overflow: hidden;
}

</style>