<script>
export default {
  name: 'status-field',
  props: {
    field: String,
    dataItem: Object,
    format: String,
    className: String,
    columnIndex: Number,
    columnsCount: Number,
    rowType: String,
    level: Number,
    expanded: Boolean,
    editor: String,
    count: Number,
  },
  data() {
    return {
      templateArgs: {},
      itemText: 'template',
    }
  },
  computed: {
    /* Computed methods goes here*/
  },
  methods: {
    /* Component methods goes here*/
    change(e) {
      this.$emit('change_status_type', e, e.target.value)
    },
  },
}
</script>

<template>
  <td v-if="!dataItem.inEdit" :class="className">{{ dataItem[field] }}</td>
  <td v-else
    ><select class="k-textbox" @change="change">
      <option value=""> </option>
      <option value="ACTIVE"> ACTIVE</option>
      <option value="SHIPPED"> SHIPPED</option>
      <option value="CLOSED"> CLOSED</option>
      <option value="DEMO"> DEMO</option>
      <option value="TEST"> TEST</option>
    </select></td
  >
</template>
