<script>
export default {
  components: {},
  props: {
    color: { type: String, default: '' },
    title: { type: String, default: '' },
    count: { type: String, default: '' },
    icon: { type: String, default: '' },
  },
  data() {
    return {

    }
  },
}
</script>
<template>
  <div class="card gradient-shadow min-height-100 white-text animate fadeLeft" :class="`gradient-45deg-${color}`" >
      <div class="padding-4">
        <div class="row">
          <div class="col s9 m9 left-align">
              <h5 class="mb-0 white-text">{{ title }}</h5>
              <p class="no-margin">New</p>
              <p>{{count}}</p>
            </div>
            <div class="col s3 m3">
              <i class="material-icons background-round mt-10">{{icon}}</i>
            </div>
        </div>
      </div>
  </div>
</template>

<style lang="scss">

</style>
