<script>
export default {
  props: ['menus'],
  data() {
    return {}
  },
}
</script>

<template>
  <div class="collapsible-body">
    <ul class="collapsible collapsible-sub" data-collapsible="accordion">
      <li v-for="menu in menus" :key="menu.slug">
        <a :href="menu.url"
          ><i class="material-icons">radio_button_unchecked</i
          ><span data-i18n="Second level">{{ menu.name }}</span></a
        >
      </li>
    </ul>
  </div>
</template>
