<script>
import NavBar from '@components/nav-bar.vue'
import SideBar from '@components/sidebar.vue'
import Footer from '@components/footer.vue'
export default {
  components: { NavBar, SideBar, Footer },
}
</script>

<template>
  <fragment>
    <NavBar />
    <SideBar />
    <div id="main">
      <slot />
    </div>
    <Footer />
  </fragment>
</template>
