<script>
export default {
  data() {
    return {
      login_background_img: `background-image: url(${require('@assets/images/gallery/flat-bg.jpg')})`,
    }
  },
  methods: {
    toggleBodyClass(addRemoveClass, className) {
      const el = document.body

      if (addRemoveClass === 'addClass') {
        el.classList.add(className)
      } else {
        el.classList.remove(className)
      }
    },
  },
  mounted() {
    this.toggleBodyClass('addClass', 'login-bg')
  },
  destroyed() {
    this.toggleBodyClass('removeClass', 'login-bg')
  },
}
</script>
<template>
  <div id="login-page" class="row" :style="login_background_img">
    <div
      class="col s12 m6 l4 z-depth-4 card-panel border-radius-6 login-card bg-opacity-8"
    >
      <slot />
    </div>
  </div>
</template>

<style lang="scss">
@import '@assets/sass/pages/login.scss';
#login-page {
  background-size: cover;
}
</style>
