<script>
import appConfig from '@src/app.config'
// import { mapActions } from 'vuex'
const defaultLayout = 'default'

export default {
  computed: {
    layout() {
      return (this.$route.meta.layout || defaultLayout) + '-layout'
    },
  },
  page: {
    // All subcomponent titles will be injected into this template.
    titleTemplate(title) {
      title = typeof title === 'function' ? title(this.$store) : title
      return title ? `${title} | ${appConfig.title}` : appConfig.title
    },
  },
}
</script>

<template>
  <component :is="layout">
    <!--
    Even when routes use the same component, treat them
    as distinct and create the component again.
    -->
    <RouterView :key="$route.fullPath" />
  </component>
</template>

<!-- This should generally be the only global CSS in the app. -->
<style lang="scss">
*,
*::before,
*::after {
  box-sizing: border-box;
}
</style>
