<!DOCTYPE html>
<html class="loading" lang="en" data-textdirection="ltr">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui"
    />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="Faez" />
    <link
      rel="shortcut icon"
      href="<%= webpackConfig.output.publicPath %>favicon.png"
    />
    <title><%= webpackConfig.name %></title>
    <link rel="apple-touch-icon" href="#" />
    <link rel="shortcut icon" type="image/x-icon" href="" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"
    />
  </head>
  <body
    class="horizontal-layout page-header-light horizontal-menu  2-columns"
    data-open="click"
    data-menu="horizontal-menu"
    data-col="2-columns"
  >
    <!-- This is where our app will be mounted. -->
    <div id="app"></div>

    <!-- Built files will be auto injected here. -->
  </body>
</html>
