<script>
import BreadCrumb from '@components/breadcrumb.vue'
export default {
  page: {
    title: 'Admin Dashboard',
    meta: [{ name: 'description', content: 'The Admin Dashboard page.' }],
  },
  components: { BreadCrumb },
  data() {
    return {
      breadCrumbData: {
        title: 'Admin Dashboard',
      },
    }
  },
}
</script>

<template>
  <fragment>
    <div class="row">
      <div class="content-wrapper-before gradient-45deg-indigo-purple"></div>
      <div class="col s12">
        <div class="container">
          <div class="section">
            <div class="card">
              <div class="card-content">
                <h5>Available Actions</h5>
                <div class="row">
                  <div class="col s6 m4 l3 xl2 action-card center-align">
                    <RouterLink to="users">
                      <div class="card-panel hoverable">
                        <div class="card-contend p-3">
                          <i class="material-icons">account_box</i>
                          <p>Users</p>
                        </div>
                      </div>
                    </RouterLink>
                  </div>
                  <div class="col s6 m4 l3 xl2 action-card center-align">
                    <RouterLink to="customers">
                      <div class="card-panel hoverable">
                        <div class="card-contend p-3">
                          <i class="material-icons">account_box</i>
                          <p>Customers</p>
                        </div>
                      </div>
                    </RouterLink>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="content-overlay"></div>
      </div>
    </div>
  </fragment>
</template>

<style lang="scss">
.action-card {
  transition: 0.2s all ease-in;
  p {
    font-size: 18px;
  }
  i {
    font-size: 65px;
  }
}
</style>
