<script>
import { siteComputed, siteMethods } from '@state/helpers'
import StatusCard from '@components/status-card.vue'
import DeughnutChart from '@components/doughnut-chart.vue'
import StackBarChart from '@components/stackbar-chart.vue'
import DataTable from 'vue-materialize-datatable'
import moment from 'moment'
export default {
  page: {
    title: 'Dashboard',
    meta: [{ name: 'description', content: 'The Dashboard page.' }],
  },
  components: { StatusCard,DeughnutChart, StackBarChart, datetable:DataTable },
  data() {
    return {
      breadCrumbData: {
        title: 'Dashboard',
      },
      newSite:{
        company_name:'',
        job_url:'',
        due_date:'',
        instruction:''
      },
      formActive:false,

      chartData: {
          stackBar:{
            labels: ["JANUARY", "FEBRUARY", "MARCH", "APRIL", "MAY", "JUNE"],
            datasets: [
              {
                label: "CRAWLED",
                data: [67.8, 73, 83, 17, 45, 58.8],
                backgroundColor: "#1FE5B1" // green
              },
              {
                label: "DELETED",
                data: [20.7, 61, 27, 75,88, 78.4],
                backgroundColor: "#353EA0" // yellow
              },
            ]
          },
          doughnut:{
            labels: ['ACTIVE','CANCELLED'],
            datasets: [
              {
                backgroundColor: ['#1FE5B1','#353EA0'],
                data: [30,70]
              }
            ]
          }
      },
      chartOptions: {
        stackBar:{
          responsive: true, 
          maintainAspectRatio: false,
          scales: {
            xAxes: [
              {
                stacked: true
              }
            ],
            yAxes: [
              {
                stacked: true
              }
            ]
          }
        },
        doughnut:{
          responsive: true, 
          maintainAspectRatio: false,
          animation: {
            animateRotate: true
          }
        }
      },
      siteColumns:[{
          label: 'Company',
          field: 'company_name',
        },
        {
          label: 'Job Url',
          field: 'job_url',
        },
        {
          label: 'Due Date',
          field: 'due_date',
        }
      ]
    }
  },
  computed: {
    ...siteComputed,
  },
  created() {
    this.fetchRequestedSites()
  },
  methods: {
    ...siteMethods,
    onClickHandler(){
      this.formActive = !this.formActive
    },
    onChangeHandler(){
      console.log(this.newSite)
    },
    onSaveHandler(e){
      e.preventDefault();
      this.addNewSite(this.newSite).then((response)=>{
        this.newSite = {
          company_name:'',
          job_url:'',
          due_date:'',
          instruction:''
        }
        this.$toastr.s("SUCCESS MESSAGE", "Site added successfully");
      })
    },
    onFocusHandler(e){
      e.target.parentElement.lastChild.classList.add("active")
    },
    onBlurHandler(e){
      if(e.target.value === '')
        e.target.parentElement.lastChild.classList.remove("active")
    }
  },
  mounted(){
    this.$toastr.defaultTimeout = 5000;
    this.$toastr.defaultProgressBar = true;
    //console.log(this.requested_sites)
  }
}
</script>

<template>
  <fragment>
    <div class="container">
      <div class="row">
          <div class="col s12 m6 l6 xl3">
            <StatusCard color="light-blue-cyan" title="CRAWLED JOBS" count="6,00,00" icon="bug_report"/>
          </div>
          <div class="col s12 m6 l6 xl3">
            <StatusCard color="red-pink" title="TOTAL SITES" count="1,12,900" icon="collections"/>
          </div>
          <div class="col s12 m6 l6 xl3">
            <StatusCard color="amber-amber" title="SCANNED SITES" count="3,42,230" icon="gradient"/>
          </div>
          <div class="col s12 m6 l6 xl3">
            <StatusCard color="green-teal" title="DELETED JOBS" count="25,900" icon="delete_forever"/>
          </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col s12 l6">
          <div class="card animate fadeRight chartCard">
            <div class="card-content">
               <h4 class="card-title mb-0">MONTH WISE CRAWLING STATUS</h4>
               <div class="chart-container mt-2">
                  <StackBarChart
                    ref="monthly_chart"
                    :chart-data="chartData.stackBar"
                    :height="280"
                    :options="chartOptions.stackBar">
                  </StackBarChart>
               </div>
            </div>
          </div>
        </div>
        <div class="col s12 l6">
          <div class="card animate fadeLeft chartCard">
            <div class="card-content">
               <h4 class="card-title mb-0">SITE STATUS</h4>
               <div class="chart-container ">
                  <DeughnutChart
                    ref="status_chart"
                    :chart-data="chartData.doughnut"
                    :height="280"
                    :options="chartOptions.doughnut">
                  </DeughnutChart>
               </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">      
        <div class="col s12 l7">
            <div class="card subscriber-list-card animate fadeRight list-wrapper">
              <button type="button" 
                  @click="onClickHandler"
                  class="waves-effect waves-light btn gradient-45deg-purple-deep-orange gradient-shadow right float-right add-btn">+ Add New</button></h4>
                <datetable
                    title="REQUESTED SITES"
                    :columns="siteColumns"
                    :rows="requested_sites"
                    :sortable="false"
                    :printable="false"
                    :clickable="false"
                    :perPage="[5, 10, 15]"
                    class="vue_dt"
                >
                <th slot="thead-tr">
                  Status
                </th>
                <th slot="thead-tr">
                  Actions
                </th>
                <template slot="tbody-tr" scope="props">
                  <td>
                    <span class="badge green lighten-5 green-text text-accent-4">{{props.row.is_active === 1 ? `open`:`close`}}</span>
                  </td>
                  <td>
                    <a href="javascript:void(0)" @click="(e) => editItem(props.row, e)">
                      <i class="material-icons purple-text mr-5">mode_edit</i>
                    </a>
                    <a href="javascript:void(0)"  @click="(e) => deleteItem(props.row, e)">
                      <i class="material-icons pink-text">remove_red_eye</i>
                      </a>
                  </td>
                </template>
              </datetable>
              <div class="form-wrapper" v-if="formActive">
                  <div class="row pl-2 pr-2">
                    <form class="col s12" @submit="(e)=>onSaveHandler(e)">
                      <div class="row">
                        <div class="input-field col s6">
                          <input id="company" type="text" v-model="newSite.company_name" 
                                class="validate" @focus="onFocusHandler" @blur="onBlurHandler">
                          <label for="company">Company Name</label>
                        </div>
                        <div class="input-field col s6">
                          <input id="due_date" type="date" v-model="newSite.due_date" 
                          class="validate datepicker datepicker" @focus="onFocusHandler" @blur="onBlurHandler" 
                          min="2020-01-01" max="2050-12-30">
                          <label for="due_date">Due Date</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                          <input id="job_url" type="text" v-model="newSite.job_url" 
                          class="validate" @focus="onFocusHandler" @blur="onBlurHandler">
                          <label for="job_url">Job URL</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                            <textarea id="instruction" v-model="newSite.instruction" 
                            class="materialize-textarea" @focus="onFocusHandler" @blur="onBlurHandler"></textarea>
                            <label for="instruction">Special Instuction</label>
                        </div>
                      </div>
                      <div class="row">
                        <div class="input-field col s12">
                            <button class="btn waves-effect waves-light purple lightrn-1" > Save </button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
          </div>
        </div>
        <div class="col s12 l5">
            <div class="card subscriber-list-card animate fadeRight">
              <div class="card-content pb-1">
                <h4 class="card-title mb-0">CANCELLED SITES </h4>
              </div>
              <div class="list-wrapper">
                <table class="subscription-table responsive-table highlight">
                  <thead>
                      <tr>
                        <th>Company</th>
                        <th>Description</th>
                        <th>Status</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                        <td>ABC Fintech LTD.</td>
                        <td>Site is not allowed for crawling</td>
                        <td><span class="badge pink lighten-5 pink-text text-accent-2">Close</span></td>
                      </tr>
                      <tr>
                        <td>ACME Pvt LTD.</td>
                        <td>Site crawlable data not found</td>
                        <td><span class="badge green lighten-5 green-text text-accent-4">Open</span></td>
                      </tr>
                      <tr>
                        <td>Collboy Tech LTD.</td>
                        <td>Site is blocked by captcha</td>
                        <td><span class="badge green lighten-5 green-text text-accent-4">Open</span></td>
                      </tr>
                      <tr>
                        <td>My Fintech LTD.</td>
                        <td>Site is no longer available</td>
                        <td><span class="badge pink lighten-5 pink-text text-accent-2">Close</span></td>
                      </tr>
                      <tr>
                        <td>Karachiwala Fitness.</td>
                        <td>Site is hacked for now</td>
                        <td><span class="badge pink lighten-5 pink-text text-accent-2">Close</span></td>
                      </tr>
                      <tr>
                        <td>NEW AGE.</td>
                        <td>Site is crawled failed for unknown</td>
                        <td><span class="badge pink lighten-5 pink-text text-accent-2">Close</span></td>
                      </tr>
                  </tbody>
                </table>
              </div>
              
          </div>
        </div>
      </div>
    </div>
    
  </fragment>
</template>

<style lang="scss">
.subscriber-list-card table td:first-child, 
.subscriber-list-card table th:first-child {
    padding: 15px 5px 15px 25px;
}
.subscriber-list-card table th {
    text-transform: uppercase;
    font-weight: 800;
    font-size: .9rem;
}
.chartCard{
  height: 360px;
}
.add-btn {
    padding: 0 10px;
    margin-top: -6px;
}
.list-wrapper{
  position:relative;
}
.form-wrapper{
    position: absolute;
    top: 63px;
    left: 0;
    width: 100%;
    height: 85%;
    display: block;
    background-color: #ffffff;
    z-index: 10;
}
.add-btn {
    position: absolute;
    right: 10px;
    top: 18px;
}
.table-header{
  .actions{
    margin-right: 110px;
  }
}
.vue_dt tr td a i {
  font-size: 22px !important;
}
.vue_dt table {
    table-layout: auto;
}
.vue_dt th:nth-child(2){
  width:40% !important;
}
.input-field label {
    transition: .3s all ease-in !important;
}
.input-field>label.active {
    transition: .2s all ease-in !important;
}
</style>
