<script>
import Layout from '@layouts/main.vue'
import { authMethods } from '@state/helpers'
import appConfig from '@src/app.config'

export default {
  page: {
    title: 'Log in',
    meta: [{ name: 'description', content: `Log in to ${appConfig.title}` }],
  },
  components: { Layout },
  data() {
    return {
      email: '',
      password: '',
      authError: null,
      tryingToLogIn: false,
    }
  },
  computed: {
    placeholders() {
      return process.env.NODE_ENV === 'production'
        ? {}
        : {
            email: 'Enter Email', // admin
            password: 'Enter Password', // password
          }
    },
  },
  methods: {
    ...authMethods,
    // Try to log the user in with the email
    // and password they provided.
    tryToLogIn() {
      this.tryingToLogIn = true
      // Reset the authError if it existed.
      this.authError = null
      return this.logIn({
        email: this.email,
        password: this.password,
      })
        .then((token) => {
          this.tryingToLogIn = false

          // Redirect to the originally requested page, or to the home page
          this.$router.push(
            this.$route.query.redirectFrom || { name: 'dashboard' }
          )
        })
        .catch((error) => {
          this.tryingToLogIn = false
          this.authError = error
        })
    },
  },
}
</script>

<template>
  <fragment>
    <form @submit.prevent="tryToLogIn">
      <div class="row">
        <div class="input-field col s12">
          <h5 class="ml-4">Sign in</h5>
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <BaseInputText
            v-model="email"
            name="email"
            icon="person_outline"
            :placeholder="placeholders.email"
          />
        </div>
      </div>
      <div class="row margin">
        <div class="input-field col s12">
          <BaseInputText
            v-model="password"
            name="password"
            type="password"
            icon="lock_outline"
            :placeholder="placeholders.password"
          />
        </div>
      </div>
      <div class="row">
        <div class="col s12 m12 l12 ml-2 mt-1">
          <p>
            <label>
              <input type="checkbox" />
              <span>Remember Me</span>
            </label>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <BaseButton :disabled="tryingToLogIn" type="submit">
            <BaseIcon v-if="tryingToLogIn" name="sync" spin />
            <span v-else>
              Log in
            </span>
          </BaseButton>
        </div>
      </div>
      <p v-if="authError">
        There was an error logging in to your account.
      </p>
    </form>
  </fragment>
</template>

<style lang="scss">
.form {
  text-align: center;
}
input {
  &::-webkit-input-placeholder {
    color: #999;
  }
}
</style>
